<html>

<head>

<title> Registration form in html </title></head>

<body>

<table width=”495″ align=”left”>

<tbody>

<tr>

<td bgcolor=”#f0f0f0″>

<form action=”” method=”post”>

<fieldset>

<label for=”Name”> Name: </label>

<input type=”text” name=”name” id=”name” />

<label for=”email”> Email Id: </label>

<input type=”text” name=”email-id” id=”email-id” />

<label for=”username”> Username: </label>

<input type=”text” name=”username” id=”username” />

<label for=”password”> Password: </label>

<input type=”password” name=”password” id=”register_password” />

<label for=”Password_confirmation”> password confirmation: </label>

<input type=”password” name=”rpassword_confirmation” id=”password_confirmation” />

<input type=”submit” value=”Register” />

</fieldset>

</form>

</td>

</tr>

</tbody>

</table>

</body>

</html>

